<%= link_to "Main page",pics_path %> | <%= link_to "edit",edit_pic_path(@pic.id) %> | <%= link_to "delete", @picture, :confirm => "Are you sure?", :method => :delete %>
<h1><%= @pic.title %></h1>
<img src="<%= @pic.url %>">